page-maps {
  #map {
    height: 90%;
  }
  ion-list + ion-list {
    margin-top: 0;
  }

  .small-text {
    font-size: 50px;
  }

  .paddingTop{
    padding-top: 10px !important;
  }

  .filtro{
    display: none;
    background-color: white !important;
  }

}
